body
{
    color: #f1d9d9;
    background-color: #fae1bbc7;
}

h1
{
    text-align: center;
    color: #fd4d4d;
    padding: 10px;
}
h2
{
    color: rgb(255, 146, 146);
    text-align: center;
}

figcaption
{
    text-align: center;
    margin-top: 8px;
    color: #b69090;
}
table
{
    border: 2px solid;
    border-color: #fd4d4d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

caption
{
    font-weight: bold;
    font-size: 20px;
    color: rgb(83, 82, 82);
    margin-bottom: 10px;
    text-decoration: underline;
}

td,th
{
    font-size:large;
    padding: 5px;
    border: 0px solid #ff9292;
}
thead
{
    text-align: center;
}

.rightTD
{
    text-align: right;
}

.gridTables
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}

.items
{
    width: 350px;
}

.items th
{
    background-color: #811612;
}

.items td:nth-child(even)
{
    background-color: #7D8CC4;
}

.items td:nth-child(odd)
{
    background-color: #42213D;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color:  #fd4d4d;
}



#phoneNum 
{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#locationLink
{
    text-decoration-line: none;
}

#locationLink:hover
{
    text-decoration-line: underline;
}

