<!DOCTYPE html>
<html lang="en">
<head>
    <title> Nail Image Salon </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/default.css" rel="stylesheet">
</head>
<body> 
    
    <header>
        <h1>Nail Image Salon</h1>
        <h2><a id="locationLink" href="https://www.google.com/maps/place/Nail+Image+Salon/@35.8710289,-78.7180319,17z/data=!3m2!4b1!5s0x89acf71a83052dd3:0x4248b6abdbffd740!4m5!3m4!1s0x89acf71a8171761d:0xd7047ac4799ecc40!8m2!3d35.8710289!4d-78.7158432">4800 Grove Barton Rd, Ste 103 Raleigh, NC, 27613</a></h2>
        <p id="phoneNum"><a href="tel:+9197849111">(919) 784-9111</a></p>
        <figure>
        <img src= "../images/smileNail.jpg" alt="image of the inside of the salon" width="420" height="250">
        <figcaption><b> Nail service done with care & passion!</b></figcaption>
        </figure>      
    </header>



<table class="items">
    <caption>Nail types</caption>
    <thead>
      <tr>
        <th> </th>
        <th>Full Set</th>
        <th>Fill-in</th>
      </tr>
    </thead>
    <tr>
        <td>Acrylic</td>
        <td class="rightTD">$35 & up</td>
        <td class="rightTD">$25 & up</td>
    </tr>
    <tr>
        <td>Solar Nails</td>
        <td class="rightTD">$45 & up</td>
        <td class="rightTD">$35 & up</td>
    </tr>
    <tr>
        <td>IBD Gel</td>
        <td class="rightTD">$45 & up</td>
        <td class="rightTD">$35 & up</td>
    </tr>
    <tr>
        <td>Ombre/Pink & White</td>
        <td class="rightTD">$60 & up</td>
        <td class="rightTD">$50 & up</td>
    </tr>
</table>
    
    <div class="gridTables">
    <table class="items">
        <caption>Manicures</caption>
        <thead>
            <tr>
                <th>Types</th>
                <th>Price</th>
            </tr>
        </thead>
        <tr>
            <td>Regular</td>
            <td class="rightTD">$20</td>
        </tr>
        <tr>
            <td>Gel Color</td>
            <td class="rightTD">$20</td>
        </tr>
        <tr>
            <td>SNS ($5 Take Off)</td>
            <td class="rightTD">$45 / $55</td>
        </tr>
        <tr>
            <td>Kid (Under 10)</td>
            <td class="rightTD">$15</td>
        </tr>
    </table>

    <table class="items">
        <caption>Pedicures</caption>
        <thead>
            <tr>
                <th>Types</th>
                <th>Price</th>
            </tr>
        </thead>
        <tr>
            <td>Basic</td>
            <td class="rightTD">$35/$50(Gel)</td>
        </tr>
        <tr>
            <td>Deluxe</td>
            <td class="rightTD">$45/$60(Gel)</td>
        </tr>
        <tr>
            <td>Organic</td>
            <td class="rightTD">$55/$70(Gel)</td>
        </tr>
        <tr>
            <td>Kid (Under 10)</td>
            <td class="rightTD">$15</td>
        </tr>
    </table>

    <table class="items">
        <caption>Waxing</caption>
        <thead>
            <tr>
                <th>Types</th>
                <th>Price</th>
            </tr>
        </thead>
        <tr>
            <td>Eyebrows</td>
            <td class="rightTD">$12</td>
        </tr>
        <tr>
            <td>Lips</td>
            <td class="rightTD">$8</td>
        </tr>
        <tr>
            <td>Chin</td>
            <td class="rightTD">$12 & up</td>
        </tr>
        <tr>
            <td>Under Arm</td>
            <td class="rightTD">$20 & up</td>
        </tr>
    </table>

    <table class="items">
        <caption>Additional Services</caption>
        <thead>
            <tr>
                <th>Types</th>
                <th>Price</th>
            </tr>
        </thead>
        <tr>
            <td>Hand Polish Change</td>
            <td class="rightTD">$12/$25(Gel)</td>
        </tr>
        <tr>
            <td>Feet Polish Change</td>
            <td class="rightTD">$15/$30(Gel)</td>
        </tr>
        <tr>
            <td>Take off</td>
            <td class="rightTD">$15 & up</td>
        </tr>
        <tr>
            <td>Repair</td>
            <td class="rightTD">$5 & up</td>
        </tr>
    </table>
</div>
</body>
    <header></header>